spin_manifest_version = 2

[application]
name = "spin-utopia"
version = "0.1.0"
authors = ["Tyler Harpool <tylerharpool@gmail.com>"]
description = "Swagger API with utopia and spin"

[[trigger.http]]
route = "/..."
component = "spin-utopia"

[component.spin-utopia]
source = "target/wasm32-wasip1/release/spin_utopia.wasm"
allowed_outbound_hosts = []
key_value_stores = ["default"]

[component.spin-utopia.build]
command = "cargo build --target wasm32-wasip1 --release"
watch = ["src/**/*.rs", "Cargo.toml"]
